.tariffuxx-blue-color {
    background-color: #2b64a4;
}

.white-text {
    color: white;
}

.modal-header .title {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.modal-header {
    text-align: center;
}

.stepper {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.5rem;
    outline: 0;
    text-align: center;
    padding: 20px 0;
}

.stepper li {
    margin-bottom: 0;
}

.stepper a {
    color: #4f4f4f;
}

.stepper .circle {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    flex-shrink: 0;
    position: relative;
    background-color: #4f4f4f;
    padding: 4px;
}

.stepper .circle i {
    color: white;
}

.stepper li.current .circle {
    background-color: #2b64a4;
}
.stepper li.current a {
    color: #2b64a4;
}

.stepper li.inactive .circle {
    background-color: rgba(79, 79, 79, 0.2);
}
.stepper li.inactive a {
    color: rgba(79, 79, 79, 0.2);
}

.text-tariffuxx-blue {
    color: #2b64a4!important;
}

.md-form {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.md-form input:not([type]), .md-form input[type="text"]:not(.browser-default), .md-form input[type="password"]:not(.browser-default), .md-form input[type="email"]:not(.browser-default), .md-form input[type="url"]:not(.browser-default), .md-form input[type="time"]:not(.browser-default), .md-form input[type="date"]:not(.browser-default), .md-form input[type="datetime"]:not(.browser-default), .md-form input[type="datetime-local"]:not(.browser-default), .md-form input[type="tel"]:not(.browser-default), .md-form input[type="number"]:not(.browser-default), .md-form input[type="search"]:not(.browser-default), .md-form input[type="phone"]:not(.browser-default), .md-form input[type="search-md"], .md-form textarea.md-textarea {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.md-form.md-bg input[type="text"], .md-form.md-bg input[type="password"], .md-form.md-bg input[type="email"], .md-form.md-bg input[type="url"], .md-form.md-bg input[type="time"], .md-form.md-bg input[type="date"], .md-form.md-bg input[type="datetime-local"], .md-form.md-bg input[type="tel"], .md-form.md-bg input[type="number"], .md-form.md-bg input[type="search-md"], .md-form.md-bg input[type="search"], .md-form.md-bg textarea.md-textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 5px;
    background: #f5f5f5 no-repeat;
    background-image: none!important;
    border: 0;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    -webkit-transition: background-size .3s cubic-bezier(0.64,0.09,0.08,1);
    transition: background-size .3s cubic-bezier(0.64,0.09,0.08,1);
}
.md-form.md-bg .form-control {
    padding: 1.3rem 0.7rem 0.4rem !important;
}
.md-form .form-control {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
.md-form .form-control {
    height: auto;
    padding: 0.6rem 0 0.4rem 0;
    margin: 0 0 0.5rem 0;
    background-color: transparent;
    border-radius: 0;
}

.md-form.md-bg label {
    top: 0;
    padding-left: 0.7rem;
    font-size: 18px;
    -webkit-transition: color .2s ease-out,-webkit-transform .2s ease-out;
    transition: color .2s ease-out,-webkit-transform .2s ease-out;
    transition: transform .2s ease-out,color .2s ease-out;
    transition: transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
    -webkit-transform: translateY(13px);
    transform: translateY(13px);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.md-form>label {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.md-form label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    color: #757575;
    cursor: text;
    -webkit-transition: color .2s ease-out,-webkit-transform .2s ease-out;
    transition: color .2s ease-out,-webkit-transform .2s ease-out;
    transition: transform .2s ease-out,color .2s ease-out;
    transition: transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
.md-form label.active {
    -webkit-transform: translateY(-5px) scale(0.8);
    transform: translateY(-5px) scale(0.8)
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.7rem;
    word-wrap: break-word;
    opacity: 0;
}

.tooltip.show {
    opacity: 0.9;
}

.tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
}

.tooltip .arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}

.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
    padding: 0.4rem 0;
}

.bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 0;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #000;
}

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
    padding: 0 0.4rem;
}

.bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
    right: 0;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #000;
}

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
    padding: 0.4rem 0;
}

.bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
    top: 0;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
    bottom: 0;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: #000;
}

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
    padding: 0 0.4rem;
}

.bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
    left: 0;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: #000;
}

.tooltip-inner {
    max-width: 200px;
    padding: 0.25rem 0.5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 0.35rem;
}

.tooltip.in {
    opacity: 1;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

input[type="radio"]:checked + label .border{
    background-color: #f5f5f5!important;
    outline: 2px solid #069;
}

.btn-tariffuxx-blue {
    background-color: #2b64a4!important;
    color: white;
}

.btn-tariffuxx-blue:hover {
    color: white;
}

.black-text {
    color: black;
}

.card {
    min-width: 100%;
    box-shadow: none;
    border: 1px solid #cccccc;
    padding: 0;
}

.mr-2 {
    margin-right: 2rem!important;
}

.mr-1 {
    margin-right: 1rem!important;
}

.accordion .fa-angle-down {
    float: right;
}

a:not(.collapsed) .rotate-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.small, small {
    font-size: .7em;
}

.accordion .collapse {
    display: none;
}

.accordion .collapse.in {
    display: block;
}

.form-check-input[type="checkbox"]+label, label.btn input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    height: 40px;
    padding-left: 35px;
    line-height: 1;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select-wrapper select {
    margin-top: 25px!important;
    width: 100%!important;
    margin-left: 8px;
}

.collapse .btn-save {
    display: none;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

#toast-container {
    position: fixed;
    right: 2%;
    top: 5%;
}

.pr-2 {
    padding-right: 2em;
}

.pr-1 {
    padding-right: 1em;
}

.modal.fade.in {
    opacity: 1;
    z-index: 999999;
    background: rgb(0 0 0 / 80%);
}

#previewModal .modal-dialog {
    margin: 8rem auto!important;
    max-width: 1200px;
}

.max-width-600 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.is_disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.7;
    text-decoration: none;
}

.is_disabled div, .is_disabled a {
    cursor: not-allowed;
    opacity: 0.5;
}

.card-body .chose-image-list {
    width: 50px;
    height: auto;
    max-height: inherit;
    -align: middle;
    margin: -1px 10px 0 0;
}

.card .card-header {
    border: none;
}

.card-body .col {
    font-size: 14px;
}

.no_config.mr-1, .has_config.mr-1 {
    margin-right: 5px!important;
}

.card-header small i {
    font-weight: 400;
}

a:focus {
    box-shadow: none!important;
}

#fixedPreviewButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

#fixedPreviewButton:hover {
    background-color: #555;
}

.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    height: 36px!important;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.input-group-addon {
    padding: 11px 12px;
    height: 35px;
    width: 20%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    /* background-color: #eee; */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
}


.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.color-picker-wrapper {
    max-width: 150px;
}

.color-picker-wrapper input {
    padding: 0 8px!important;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%) !important;
    margin-top: 0px!important;
    margin-bottom: 1px!important;
    margin-left: 0!important;
    height: 36px!important;
}

.pick-a-color-markup .input-group-btn .color-dropdown {
    padding: 8px 6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 1px;
    height: 35px;
}

.pickr {
    display: none;
}

.pcr-app {
    display: none!important;
}

.pcr-app.visible {
    transition: opacity 0.3s;
    opacity: 1;
    top: 35px;
    position: absolute!important;
    display: block!important;
}

.twl-color-input:before {
    content:"#";
}

input.twl-color-input {
    margin-left: 24px!important;
}

.before-color-picker {
    position: absolute;
    left: 4px;
    top: 2px;
    font-size: 20px;
}
#twl .chosen-container .chosen-results {
    max-height: 360px;
}
#twl .chosen-container .chosen-results li {
    line-height: 50px;
}